/*--------------------------------------------------------------
## Common
--------------------------------------------------------------*/

body {
  font-family: "Open Sans", sans-serif;
}
a,
a:hover {
  color: black;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: Helvetica Neue, Helvetica, Arial, sans-serif !important; */
}
body {
  /* font-family: Helvetica Neue, Helvetica, Arial, sans-serif !important; */
}
/*--------------------------------------------------------------
## Layout
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Layout Header 
--------------------------------------------------------------*/

#pagehead {
  margin-bottom: 0;
  background-color: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05),
    inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  padding: 0.74rem 1rem;
  z-index: 11;
}
#pagehead nav {
  padding-left: 0;
  padding-right: 0;
}

#pagehead .slogan {
  max-height: 101px;
}

#pagehead .navbar-brand {
  margin-right: 8px;
}

#pagehead .navbar-nav > li > a {
  /* color: #cdbfe3;
  padding: 0.5rem;
  font-weight: 500;
  font-size: 0.875rem; */
  cursor: pointer;
}

#pagehead .navbar-nav > li > a:hover,
#pagehead .navbar-nav > li.active > a {
  /* color: black; */
  /* font-weight: 600; */
  /*background: #f9f9f9;*/
}

#top-menu {
  justify-content: space-around;
  width: 91%;
}

#top-menu .nav-item {
  padding: 1rem;
  font-size: 18px;
  text-align: center;
}
#top-menu .nav-item.active {
  font-weight: 600;
  border-bottom: 6px solid #df5042;
}

#top-menu .nav-item:hover {
  border-bottom: 6px solid #df5042;
}
/*--------------------------------------------------------------
## Layout Left Sidebar 
--------------------------------------------------------------*/

#secondary {
  font-family: "Open Sans", sans-serif !important;
}

#secondary .widget_nav_menu {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05),
    inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

#secondary .menu {
  background-color: white;
  padding: 1rem;
}

#secondary .menu.nav > li > a {
  font-size: large;
}

#secondary .nav.sub-menu {
  margin-left: 1rem;
}
.menu-item-object-category > a {
  /* font-size: large; */
}

.menu-item-has-children > a {
  /* font-size: large; */
}

/*--------------------------------------------------------------
## Layout Content
--------------------------------------------------------------*/

.page h1,
.page h2 {
  text-align: right;
}

.site-main {
  padding: 0 1rem;
}
.site-main,
.site-main p {
  font-family: "Open Sans", sans-serif !important;
}
.entry-content h2,
.entry-header {
  /* text-align: right; */
  font-size: 1.61rem;
}

.site-content h4 {
  font-size: 20px;
  line-height: 20px;
  margin-top: 2.3rem;
  margin-bottom: 2rem;
}

.entry-content {
  background-color: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05),
    inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  padding: 1.44rem 2.1rem;
}
.entry-content {
}

#content.site-content {
  padding-top: 2.125rem;
}

.entry-meta,
.entry-footer {
  display: none;
}

h1.entry-title {
}

/*--------------------------------------------------------------
## Layout Footer
--------------------------------------------------------------*/

#footer-widget {
  background-color: #262626 !important;
}

#footer-widget,
#footer-widget .widget-title,
#footer-widget a,
#footer-widget a:hover {
  color: #f9f9f9;
  font-size: 0.8rem;
}

#footer-widget .widget {
  margin: 1em;
  font-size: 0.875rem;
  height: fit-content;
  /* justify-content: end; */
}

#footer-widget .widget_nav_menu .nav.flex-column {
  flex-direction: row !important;
  align-items: flex-end;
  justify-content: flex-end;
}

#footer-widget .nav > li > a:focus,
.nav > li > a:hover {
  background-color: inherit;
  text-decoration: underline;
}

#colophon {
  background-color: #363636 !important;
}

/*--------------------------------------------------------------
## Front (Home) Page
--------------------------------------------------------------*/
.home article .entry-footer {
  display: none;
}

.home .entry-content {
  margin-top: 0;
}

/* adjust for admin bar */
body.home.admin-bar #page {
  padding-top: 32px;
}

.home .slogan {
  max-height: 72px;
}

.home #page {
  position: relative;
}

.home-content {
  position: absolute;
  top: 0;

  padding-bottom: 0;
  padding-top: 0;
}

#homehead {
  position: absolute;
  top: 0;
  z-index: 2;

  margin-bottom: 0;
  background-color: transparent;
  /* box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05),
    inset 0 -1px 0 rgba(0, 0, 0, 0.1); */
  /* padding: 0.74rem 1rem; */
}

#homehead nav {
}

#homehead .navbar-nav > li > a {
  color: #fff;
  padding: 0.5rem;
  font-weight: 500;
  /* font-size: 0.875rem; */
}

/* #homehead .navbar-nav > li > a:hover, */
#homehead .navbar-nav > li.current_page_item > a {
  color: #fff;
  font-weight: 600;
}
